body {
	margin: 0;
	padding: 0;
	background: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bicycles.jpeg") no-repeat right center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
	letter-spacing: 0.5em;
}

h2{
	font-style: italic;
}

h3{
	text-align: center;
}



.header {
	height: 150px;
	background-color: yellow;
	text-align: center;
	font-family: arial;
	color: red;
	text-transform: uppercase;
	border-top: 5px;
	border-right: 8px;
	border-bottom: 10px;
	border-left: 8px;
	border-style: dashed;
	border-color: black;
	margin-bottom: 50px;
}

.body {
	background-color: white;
	padding: 50px;
	max-width: 80%;
	margin: auto;
}

.body p {
	font-weight: bold;
}

#gambar{
	text-align: center;
}

img {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	border-radius: 100%;
	margin: auto;
}

table, td, th {
	border: 1px solid black;
}
.comment {
	max-width: 500px;
	min-height: 600px;
	margin-top: 30px;
	padding: 30px;
	border-left: 10px solid black;
	border-bottom-left-radius: 40px;
	border-top-left-radius: 40px;
	background: -webkit-linear-gradient(#f8fe04, #affe2e);
	font-family: courier;
	color: brown;
	position: absolute;
	right: -10px;

}